
.cart_item_text {
-fx-padding: 0;
-fx-font-family: 'Roboto';
-fx-label-padding: 0 0 0 15;
-fx-font-size: 22px;
}

.cart_item_text_price {
-fx-padding: 0;
-fx-font-family: 'Roboto';
-fx-font-size: 22px;
}

.scroll_pane_style {
-fx-fit-to-width: true;
}

.line_divider {
-fx-fill: #4E4873;
}

.add_items_to_cart_button {
-fx-background-color: #F2B84B;
-fx-border-width: 1px;
-fx-border-color: #4E4873;
-fx-background-radius: 0px;
-fx-text-fill: #000000;
-fx-background-insets: 0;
-fx-padding: 0;
-fx-font-family: 'Roboto';
-fx-font-size: 30px;
}

.add_items_to_cart_button:hover {
-fx-background-color: #d19f41;
-fx-cursor: hand;
}

.add_items_to_cart_button:pressed {
-fx-background-color: #f7c86f;
-fx-border-width: 2px;

}

.headline_label_history {
-fx-font-size: 45px;
-fx-font-family: 'Roboto';
-fx-font-style: italic;
-fx-font-weight: 700;
-fx-underline: true;
}

.shopping_cart {
-fx-background-color: #F2F0E9;
}

.remove_focus {
-fx-focus-color: transparent;
-fx-faint-focus-color: transparent;
-fx-background-color: #FFFFFF;
}

.remove_focus_beige {
-fx-focus-color: transparent;
-fx-faint-focus-color: transparent;
-fx-background-color: #F2F0E9;
}

.make-invisible {
-fx-background-color: #FFFFFF;
}

/*
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:vertical .thumb {
    -fx-background-color :derive(black,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#4D4C4F,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal {
-fx-background-color: transparent;
}
*/