
.cart_item_text {
-fx-padding: 0;
-fx-font-family: 'Roboto';
-fx-label-padding: 0 0 0 25;
-fx-font-size: 22px;
}

.scroll_pane_style {
-fx-fit-to-width: true;
}

.line_divider {
-fx-fill: #4E4873;
}

.shopping_cart {
-fx-background-color: #F2F0E9;
}

.remove_focus {
-fx-focus-color: transparent;
-fx-faint-focus-color: transparent;
-fx-background-color: #FFFFFF;
}

.make-invisible {
-fx-background-color: #FFFFFF;
}

/*
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:vertical .thumb {
    -fx-background-color :derive(black,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#4D4C4F,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal {
-fx-background-color: transparent;
}
*/