@font-face {
    font-family: 'Roboto';
    src: url('resources/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('resources/Roboto-Medium.ttf');
}

.rounded {
-fx-background-color: #F2F0E9;
-fx-border-width: 2px;
-fx-border-color: #4E4873;
-fx-border-radius: 45px;
-fx-background-radius: 45px;
-fx-text-fill: #000000;
-fx-background-insets: 0;
-fx-padding: 1;
-fx-font-family: 'Roboto';
-fx-font-size: 25px;
}

.rounded_in_cart {
-fx-background-color: #F2B84B;
-fx-border-width: 2px;
-fx-border-color: #4E4873;
-fx-border-radius: 45px;
-fx-background-radius: 45px;
-fx-text-fill: #000000;
-fx-background-insets: 0;
-fx-padding: 1;
-fx-font-family: 'Roboto';
-fx-font-size: 25px;
}

.add_circle_style {
-fx-stroke-width: 2px;
-fx-stroke: #4E4873;
}

.add_circle_style:hover {
-fx-stroke-width: 4px;
-fx-cursor: hand;
}

.remove_circle_style {
-fx-stroke-width: 2px;
-fx-stroke: #4E4873;
}

.remove_circle_style:hover {
-fx-stroke-width: 4px;
-fx-cursor: hand;
}

.shopping_item {
-fx-background-color: #F2F0E9;
-fx-border-width: 1px;
-fx-border-color: #4E4873;
-fx-stroke-width: 2px;
-fx-stroke: #000000;
-fx-padding: 10px;
-fx-border-insets: 10px;
-fx-background-insets: 10px;
}

.item_name {
-fx-font-family: 'Roboto Medium';
-fx-font-weight: 500;
-fx-font-size: 30px;
}

.item_price {
-fx-font-family: 'Roboto';
-fx-font-size: 25px;
}
.rounded_smaller {
    -fx-background-color: transparent;
    -fx-border-width: 2px;
    -fx-border-color: #4E4873;
    -fx-border-radius: 45px;
    -fx-background-radius: 45px;
    -fx-text-fill: #000000;
    -fx-background-insets: 0;
    -fx-padding: 1;
    -fx-font-family: 'Roboto';
    -fx-font-size: 20px;
}

.writing_text_area {
-fx-background-color: #F2F0E9;
-fx-font-family: 'Roboto';
-fx-font-size: 18px;
}

.item_suffix {
-fx-font-family: 'Roboto';
-fx-font-size: 18px;
}

.writing_text_area_card {
-fx-background-color: transparent;
-fx-font-family: 'Roboto';
-fx-font-size: 24px;
}

.item_suffix_card {
-fx-font-family: 'Roboto';
-fx-font-size: 24px;
}

.text_fill_button {
-fx-fill: #FFFFFF;
}

.text_fill_button:hover {
-fx-fill: #9A9A9A;
}
