@font-face {
    font-family: 'Roboto';
    src: url('resources/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('resources/Roboto-BoldItalic.ttf');
}

@font-face {
    font-family: 'Rochester';
    src: url('resources/Rochester-Regular.ttf');
}



.round_button {
-fx-background-color: #F2F0E9;
-fx-border-width: 1px;
-fx-border-color: #4E4873;
-fx-border-radius: 45px;
-fx-background-radius: 45px;
-fx-text-fill: #000000;
-fx-background-insets: 0;
-fx-padding: 1;
-fx-font-family: 'Roboto';
/*-fx-font-style: italic;
-fx-font-weight: 700;*/
-fx-font-size: 24px;
}

/* feedback response by changing background color of button when hovered */
.round_button:hover {
-fx-background-color: #E1DBC7;
-fx-border-width: 1px;
-fx-border-color: #4E4873;
-fx-border-radius: 45px;
-fx-background-radius: 45px;
-fx-text-fill: #000000;
-fx-background-insets: 0;
-fx-padding: 1;
-fx-font-family: 'Roboto';
/*-fx-font-style: italic;
-fx-font-weight: 700;*/
-fx-font-size: 24px;
-fx-cursor: hand;
}

#imat {
    -fx-font-family: 'Rochester';
    -fx-font-size: 96px;
    -fx-text-fill: #4E4873;
}

#shopping_button {
-fx-label-padding: 0 45 0 0;
}

#my_pages_button {
-fx-label-padding: 0 6 0 0;
}

#history_button {
-fx-label-padding: 0 40 0 0;
}

#help_button {
-fx-label-padding: 0 70 0 0;
}

#search_button {
-fx-label-padding: 0 0 0 0;
-fx-padding: 0 0 3 25;
}

.sidebar_button {
-fx-background-color: #F2F0E9;
-fx-border-width: 1px;
-fx-border-color: #4E4873;
-fx-background-radius: 45px;
-fx-text-fill: #000000;
-fx-background-insets: 0;
-fx-padding: 1;
-fx-font-family: 'Roboto';
-fx-label-padding: 0 0 0 25;
}

.headline_label {
-fx-font-style: italic;
-fx-font-weight: 700;
-fx-text-decoration: underline;
}
