


.round_button {
-fx-background-color: #F2F0E9;
-fx-border-width: 1px;
-fx-border-color: #4E4873;
-fx-border-radius: 45px;
-fx-background-radius: 45px;
-fx-text-fill: #000000;
-fx-background-insets: 0;
-fx-padding: 1;
-fx-font-family: 'Roboto';
}

#shopping_button {
-fx-label-padding: 0 45 0 0;
}

#my_pages_button {
-fx-label-padding: 0 6 0 0;
}

#history_button {
-fx-label-padding: 0 40 0 0;
}

#help_button {
-fx-label-padding: 0 70 0 0;
}

#search_button {
-fx-label-padding: 0 0 0 0;
-fx-padding: 0 0 3 25;
}

.button {
-fx-background-color: #F2F0E9;
-fx-border-width: 1px;
-fx-border-color: #4E4873;
-fx-background-radius: 45px;
-fx-text-fill: #000000;
-fx-background-insets: 0;
-fx-padding: 1;
-fx-font-family: 'Roboto';
}