@font-face {
    font-family: 'Roboto';
    src: url('resources/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('resources/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('resources/Roboto-BoldItalic.ttf');
}

.headline_label {
-fx-font-family: 'Roboto'
-fx-font-style: italic;
-fx-font-weight: 700;
-fx-text-decoration: underline;
}

.label_bold {
-fx-font-family: 'Roboto Medium';
-fx-font-size: 30px;
/* -fx-font-weight: 700; */
-fx-font-weight: 500;
}

.label_normal {
-fx-font-family: 'Roboto';
-fx-font-size: 24px;
}

.label_scaled_normal {
    -fx-font-family: 'Roboto';
    -fx-font-size: 30px;
}
.label_scaled_bold {
    -fx-font-family: 'Roboto';
    -fx-font-size: 45px;
    -fx-font-weight: bold;
}
.label_scaled_itemPrice{
    -fx-font-family: 'Roboto';
    -fx-font-size: 18px;
    -fx-font-weight: normal;
}
.label_scaled_big{
    -fx-font-size: 60px;
    -fx-font-family: 'Roboto';
}